name: cd ping

on:
  push:
    tags:
      - '*'

jobs:
  ping:
    permissions:
      contents: write
    strategy:
      matrix:
        repo:
          - vulkan
          - wayland
          - X11
          - glfw
          - cimgui
          - spirv
          - glslang
          - shaderc
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: tiawl/spaceporn-dep-action-cd-ping@v1
      with:
        repository_name: "${{ github.event.repository.name }}"
        user: "${{ matrix.repo }}.zig"
        tag: "${{ github.ref_name }}"
        token: "${{ secrets.PAT }}"
